@import url('https://fonts.googleapis.com/css2?family=Inter&family=Ubuntu&display=swap');

html{
    height: 0px;
}

*{
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: #F2F2F2;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #000;
    height: 82px;
    color: #FFF;
}


nav{
    font-size: 16px;
    position: absolute;
    right: 300px;
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center;
    margin: 0px;
}

nav ul{
    position: relative;
    list-style: none;
    float: right;
    margin: 0px;
}

nav ul li{  
    list-style: none;
    float: left;
    padding: 10px;
}

li a:hover{
    color: #5C5CFF;
    font-weight: bold;
}

a{
    text-decoration: none !important;
}

#logo{ 
    justify-content: start;
    position: relative;
    top: 20px;
    width: 115px;
    margin: 0px;
    float: left;
}

#empresa{
    color: #FFF;
    float: left;
    margin: 0px;
}

#empresa:hover, #logo:hover{
    font-weight: bold;
    color: #5C5CFF;
    width: 125px;
}

#usuario{
    width: 50px;
    overflow: hidden;
    position: absolute;
    right: 10px;
}

#usuario img{
    width: 200%;
}

#usuario img:hover{
    position: relative;
    right: 35px;
    cursor: pointer;
}

main{
    min-height: 80vh;
    box-sizing: border-box;
}

#footer{
    background: #000;
    clear: both;
    width: 100%;
}


