#servicos h3{
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-style:normal;
    font-weight: auto;
    line-height: normal;
    margin: none;
    display: flex;
    justify-items:center;
    justify-content:left;
    width: auto;
}
#servicos h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-style:normal;
    margin: 0px;
    margin-left: 30px;
    width: auto;
}
#servicos a{
    justify-items: center;
    justify-content:left;
    width: auto;
}

.servicos-paineis a{
    color: #000;
}

.servicos-paineis a:hover{
    color: #5C5CFF;
    font-weight: bold;
    text-decoration: none;
}

#servicos hr{
    border: none;
    border-top: 3px solid #5C5CFF;
    width: 247.002px;
    height: 5px;
}

#todos-servicos{
    width: 100%;
    text-align: center;
}

.servicos-paineis {
    border: ridge; 
    border-radius: 5px;
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: 20px;
    padding: 0;
}


.content-foto{
    border-radius: 10px;
    overflow: hidden;
}

.servicos-paineis img{
    width: 105%;
    height: 10%;
}

.servicos-paineis p{    
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
    margin: 0px 50px 25px 50px;
    box-sizing: border-box;
}

#imagem-servico img{ width: 100%; }

#imagem-servico{
    width: 100%;
    margin-bottom: 50px;
}

#vetor{
    display: flex;
    justify-content:flex-end;
    z-index: -1;
}
#vetor img{
    width: 10%;
    height: 10%;
}